<div *ngFor="let car of carDetail">
  <div>
    <img
      src="{{ apiUrl }}{{ car.imagePath }}"
      width="800"
      height="400"
      alt="{{ car.imagePath }}"
    />
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Daily Price</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Car Name</th>
    </tr>
  </thead>
  <tr *ngFor="let car of carDetail">
    <td>{{ car.id }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.carName }}</td>
  </tr>
</table>
